/* body {
    background-color: #f8f9fa;
}

.MainContainer{


}
.card {
    border-radius: 15px;
    padding: 30px;
}

.card-body {
    padding: 2rem;
}

.text-primary {
    color: #1a73e8 !important;
}

.btn-primary {
    background-color: #1a73e8;
    border: none;
}

.btn-link {
    color: #1a73e8;
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
} */
