.card {
    margin-bottom: 20px;
}
.party-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px auto;
}
.vote-button {
    margin-top: 20px;
}
#finish-voting {
    margin-top: 40px;
}
#winner {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.container-fluid{
    width: 100vw;
    height: 100vh;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}